.App {
	display: flex;
	position: relative;
	justify-content: space-between;
	flex-direction: row;
	align-items: stretch;
	height: 100vh;
	width: 100%;
	padding: 0;

	background-color: black;
	color: white;
}
.App-list {
	display: none;
	position: absolute;
	top: 20px;
	right: 10px;
}
@media all and (max-width: 600px) {
	.App-list {
		display: inline;
		position: absolute;
	}
}
