.Info {
	height: 35vh;
	/*background-color: coral;*/
	color: white;
	display: flex;
	width: 100%;
}
.Info-img {
	width: 23%;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	margin-right: 3%;
}
.Info-img img {
	width: 100%;
	aspect-ratio: 1;
	margin: 0;
	border-radius: 5px;
	border: 2px solid gray;
	transition: transform 0.5s;
	transition-timing-function: ease-in-out;
}
.Info-img img:hover {
	transform: scale(1.25);
}
.Info-text {
	width: 77%;
	padding: 5px;
	height: 100%;
	text-align: left;
}
.Info-text-name {
	font-weight: 800;
	font-size: 2rem;
}
.Info-text-description {
	list-style-type: none;
	padding: 0%;
}
.Info-text-description li {
	font-size: 0.80rem;
	line-height: 1.2rem;
	margin: 1rem 0rem 1rem 0rem;
}
.Info-text-description li .Date {
	font-size: 1.4rem;
	margin-left: 1%;
}
.Info-text-description li .Address {
	font-size: 1.3rem;
	margin-left: 1rem;
}
.Info-text-description .icons {
	width: 18px;
	margin-right: 4px;
}
.Info-text-description .socialmedia {
	margin-right: 1rem;
	width: 17px;
}
.Info-text-description-a {
	color: #fff;
}

@media all and (max-width: 400px) {
	.Info {
		height: 20vh;
	}
	.Info-img {
		width: 31%;
		padding: 0.5%;
	}
	.Info-text {
		width: 69%;
		padding: 0;
	}
	.Info-text-name {
		font-size: 1.2rem;
		padding: 0;
		margin: 0.4rem;
		margin-left: 00.45rem;
	}
	.Info-text-description li {
		margin: 0.45rem;
		font-size: 0.6rem;
		line-height: 0.7rem;
	}
	.Info-text-description li .Date {
		font-size: 0.8rem;
		margin-left: 1%;
	}
	.Info-text-description li .Address {
		font-size: 0.8rem;
		margin-left: 0.19rem;
	}
	.Info-text-description .icons {
		width: 12px;
		margin-right: 4px;
	}
	.Info-text-description .socialmedia {
		margin-right: 0.6rem;
		width: 12px;
	}
}
