.Info {
	height: 35vh;
	/*background-color: coral;*/
	color: white;
	display: flex;
	width: 100%;
	/*background-color: #9e9e9e29;*/
}
.Info-img {
	width: 23%;
	margin-left: 0.6rem;
	padding-top: 5px;
	margin-top: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 3%;
}
.Info-img img {
	width: 100%;
	aspect-ratio: 1;
	height: fit-content;
	margin: 0;
	border-radius: 5px;
	border: 2px solid gray;
	transition: transform 0.5s;
	transition-timing-function: ease-in-out;
}
.Info-img img:hover {
	transform: scale(1.25);
}
.Info-text {
	width: 77%;
	padding: 5px;
	height: 100%;
	text-align: left;
}
.Info-text-name {
	font-weight: 800;
	font-size: 1.8rem;
	padding: 0.5rem;
	margin: 0;
}
.Info-text-description {
	list-style-type: none;
	padding: 0%;
	margin: 0;
}
.Info-text-description li {
	font-size: 0.80rem;
	line-height: 1.2rem;
	margin: 1rem 0rem 1rem 0rem;
}
.Info-text-description li .Date {
	font-size: 1.4rem;
	margin-left: 1%;
}
.Info-text-description li .Address {
	font-size: 1.3rem;
	margin-left: 1rem;
}
.Info-text-description .icons {
	width: 18px;
	margin-right: 4px;
}
.Info-text-description .socialmedia {
	margin-right: 1rem;
	width: 21px;
	transition-duration: 0.4s;
	transition-property: all;
	border-radius: 50%;
	color: #fff;
	background-color: #000;
}
.Info-text-description .socialmedia:hover {
	transform: scale(1.4);
	transition-duration: 0.4s;
	color: #000;
	background-color: #fff;
}

.Info-text-description-a {
	color: #fff;
}
.Info-text-description .instagram {
	color: #000;
	background-color: #fff;
}

@media all and (max-width: 400px) {
	.Info {
		height: 20vh;
	}
	.Info-img {
		width: 31%;
		padding: 0;
		margin-top: 0;
	}
	.Info-text {
		width: 69%;
		padding: 0;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
	}
	.Info-text-name {
		font-size: 1.2rem;
		padding: 0;
		margin: 0.4rem;
		margin-left: 0.45rem;
	}
	.Info-text-description li {
		margin: 0.45rem;
		font-size: 0.6rem;
		line-height: 0.7rem;
	}
	.Info-text-description li .Date {
		font-size: 0.9rem;
		margin-left: 2.5%;
	}
	.Info-text-description li .Address {
		font-size: 0.9rem;
		margin-left: 0.19rem;
	}
	.Info-text-description .icons {
		width: 14px;
		margin-right: 4px;
	}
	.Info-text-description .socialmedia {
		margin-right: 0.6rem;
		width: 16px;
	}
}
